@tailwind base;
@tailwind components;
@tailwind utilities;

.produto-img {
    filter: drop-shadow(5px 5px);
}

.img_container {
    width: 1024px;
    height: 340px;
    border-radius: .5rem;
    box-shadow: 0 25px 50px -12px #000;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button_section {
    display: flex;
    gap: 2.5rem;
    margin-top: 6rem;
}

.button-30 {
    width: 10rem;
    align-items: center;
    appearance: none;
    background-color: #f8f2f2;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    color: #36395A;
    cursor: pointer;
    height: 3rem;
    line-height: 1;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-decoration: none;
    transition: box-shadow .35s, transform .15s;
    user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    -webkit-user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    opacity: .7;
}

.button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}